<div class="container mt-4 pb-5">

    <h2>Disqus System - OSG</h2>

    <h4 class="mt-4">Login credentials are as follows:</h4>
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Admin credentials:</h5>
            </div>
            <span class="text-muted">email</span>:
            <code class="mb-1">rohit@gmail.com</code>
            <br>
            <span class="text-muted">password</span>:
            <code>admin123</code>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">User credentials:</h5>
            </div>
            <span class="text-muted">email</span>:
            <code class="mb-1">raj@gmail.com</code>
            <br>
            <span class="text-muted">password</span>:
            <code>qwerty</code>
        </div>
    </div>

    <h4 class="mt-4">
        The features implemented are:
    </h4>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Infinte nesting of comments
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Like and Dislike buttons
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Comment system to be read without login
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Post comments only if logged in
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            User management page for Admins
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Role and Avatar selection in Users page
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Time stamp and working "time ago" feature
        </li>
    </ul>

    <h4 class="mt-4">
        Externl Dependencies used
    </h4>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Bootstrap
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Bootstrap Icons
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Bootswatch (for better themes)
        </li>
    </ul>
</div>