:host {
    display: block;
}

.likeUnlike {
    height: 20px;
}

.replyIcon {
    font-size: 23px;
}

.replySpan {
    margin: 0 15px;
    display: flex;
    cursor: pointer;
    span {
        margin-left: 7px;
    }
}

.controls {
    display: flex;
}

.like {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.comment {
    margin: 5px;
    padding: 5px;
}