<div *ngIf="showLogin" class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 *ngIf="!showSignUpForm" class="card-title">Login</h3>
            <h3 *ngIf="showSignUpForm" class="card-title">Sign Up</h3>

            <img src="assets\images\close.png" class="closeIcon" (click)="closeLogin()" alt="close">
            <div class="card-text">

                <form *ngIf="!showSignUpForm" name="form" (ngSubmit)="loginForm.form.valid && onSubmit(loginForm)" #loginForm="ngForm" novalidate>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }" required email />
                        <div *ngIf="loginForm.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }" required minlength="4" />
                        <div *ngIf="loginForm.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 4 characters</div>
                        </div>
                    </div>
                    <div class="sign-up">
                        Don't have an account? <span class="link" (click)="openSignupForm(true)">Sign up</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                </form>

                <form *ngIf="showSignUpForm" name="form" (ngSubmit)="registerForm.form.valid && onSignUp(registerForm)" #registerForm="ngForm" novalidate>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && name.invalid }" required />
                        <div *ngIf="registerForm.submitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && email.invalid }" required email />
                        <div *ngIf="registerForm.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && password.invalid }" required minlength="4" />
                        <div *ngIf="registerForm.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 4 characters</div>
                        </div>
                    </div>
                    <div class="sign-up">
                        Already have an account? <span class="link" (click)="openSignupForm(false)">Login</span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>